input[type="radio"] {
    appearance: none; 
    margin-right: 10px; 
    width: 20px; 
    height: 20px; 
    border: 2px solid #ccc; 
    border-radius: 50%; 
    outline: none; 
    transition: background 0.3s, border-color 0.3s; 
}


input[type="radio"]:checked {
    border-color: #4CAF50; 
    background-image: radial-gradient(circle at center, #4CAF50 35%, transparent 40%);

}

input[type="radio"]:hover {
    border-color: #4CAF50; 
}

.radioLabel {
    font-size: 18px;
    padding: 13px 24px;
    height: '3.18rem';
    display: block; 
    position: relative; 
    cursor: pointer; 
    color: #2A4144; 
    background-color: #ffffff; 
    border: 1px solid #86A2A5; 
    border-radius: 8px; 
    margin-bottom: 24px; 
    transition: background-color 0.3s, border-color 0.3s; 
}


.radioLabel:hover {
    background-color: #e9ffe9; 
    border-color: #4CAF50; 

}